@import url('main.css');


#bento-grid {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #1a2517;
}

.bento-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-top: 50px;
  flex: 1;
  width: 100%;
  color: #acc8a2;
  font-family: var(--passion);
  animation: reveal-bottom linear;
  animation-timeline: view();
  animation-range: entry 50% cover 99%;
}

.bento-container {
  flex: 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: #acc8a2;
  
}

.bento-item {
  height: 100%;
  border-radius: 12px;
  background-color: #1a2517;
  color: #acc8a2;
}

.wide {
  grid-column: span 2;
  border: 3px solid #1a2517;
  background-color: transparent;
  color: #1a2517;
}

.tall {
  grid-row: span 2;
  background-color: #1a2517;
  color: #acc8a2;
}

