#carrosel-auto {
  display: flex;
  background-color:#2f2f33;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
  overflow:hidden;
  padding-top: 10dvh;
  gap: 10px;
  font-family: var(--passion);
  color: #f5f6f7;
}



.carrosel-header {
  
  text-align: center;
  font-size: 3rem;
}

.carrosel-auto-track {
  display: flex;
  /* if your three slide change 300% */
  width: 400%;
  height: 100%;
  animation: slide-anim 12s infinite;
}

.slide {
  width: 100%;
  margin: 0 20px;
  height: 80%;
  display: flex;
  background-size: cover;
  background-position:center;
  border-radius: 25px;
  position: relative;
}

.slide-box {
  position: absolute;
  bottom:0;
  height: 50%;
  width: 100%;
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px;
}

.slide-title {
  text-transform: uppercase;
  font-size: 2rem;
  flex: 1;
}

.slide-text {
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1); 
  /* blur effect */
  backdrop-filter: blur(2px);  
  flex: 4;
  padding: 10px;
  border-radius: 15px;
}


@keyframes slide-anim {
  0%, 25% { transform: translateX(0); }             /* 1. Görsel duruyor */
  30%, 55% { transform: translateX(-25%); }       /* 2. Görsele geç ve dur */
  60%, 85% { transform: translateX(-50%); }       /* 3. Görsele geç ve dur */
  90%, 100% { transform: translateX(-75%); }      /* Başa dönmek için hazırlık */
}



