#hero-soft {
  height: 100dvh;
  width: 100dvw;
  background: linear-gradient(90deg, #124565, #ef3356);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35dvh;
  color: #fff;
  position: relative;
  gap: 10px;
}

.soft-desc {
  font-weight: 300;
  padding: 0 30px;
  letter-spacing:-1px;
  opacity: 0.7;
}

#btn-layer {
  display:flex;
  gap: 10px;
  margin-top: 20px;
}