#hero-soft {
  height: 100dvh;
  width: 100dvw;
  background: linear-gradient(90deg, #124565, #ef3356);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30dvh;
  color: #fff;
}

