@import url('main.css');


#horizantal-comments {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  gap: 50px;
  align-items: center;
  
}

.section-title {
  font-size:2rem;
  font-family: var(--passion);
}

#comments {
  overflow-x:auto;
  width: 100%;
  display:flex;
  padding: 10px;
  padding-bottom: 30px;
  flex-direction: row;
  gap: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}



.comment {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  height: 250px;
  width: 300px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
  
}

.comment-head {
  flex:1;
  display: flex;
  gap: 20px;
}

.comment-img {
  height: 50px;
  width: 50px;
}

.comment-img > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.comment-name {
  display: flex;
  flex-direction: column;
}

.comment-title {
  font-size: 1.5rem;
  font-family: var(--passion);
}

.comment-review {
  display: flex;
  flex-direction: row;
  gap : 10px;
}

.stars {
  content: "*****";
  color: #000;
}

.stars-number {
  content: "(4)";
}

.comment-body {
  
  font-family: sans-serif;
  flex: 5;
}



@media (min-width: 769px) {
    .comment {
        flex: 0 0 calc(33.333% - 40px); /* PC'de: Yan yana tam 3 tane sığdırır */
    }
}