/* MANROPE google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* PASSION ONE google font */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --passion: "Passion One";
    --manrope: "Manrope";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.wrapper {
    height: 100dvh;
    width : 100dvw;
}


html {
    scroll-behavior: smooth;
}

.bg-1 {background-image: url('assets/bg-01.jpg');}
.bg-2 {background-image: url('assets/bg-02.jpg');}
.bg-3 {background-image: url('assets/bg-03.jpg');}
.bg-4 {background-image: url('assets/bg-04.jpg');}


/* Animations */

@keyframes reveal-bottom {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes reveal-left {
    from {
        opacity: 0;
        transform: translateX(-50px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}



