@import url('main.css');

:root {
  --container-height: 90%;
  --container-width:100%;
  --header-size:1.4rem;
}

.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header {
  font-size: var(--header-size);
  
  width: 100%;
  text-align: center;
  padding-top:2dvh;
  margin-bottom: 8dvh;
  flex: 1;
}

.container-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex:11;
  width: 100%;
}

.container-navbar {
  height: 70px;
  border-bottom: 2px solid rgba(45, 45, 50, 0.4);
  margin-bottom: 10px;
}
.container-items {
  display: flex;
  height:600px;
  flex-direction: column;
  gap: 20px;
  
}

.product-item {
  display: flex;
  width: clamp(300px, 90%, 500px);
  height: 200px;
  background-color: red;
  padding: 10px;
}

.item-img {
  height: 100%;
  width: 150px;
  background-color:green;
  border-radius: 50%;
}

.item-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
}

.item-header {
  font-size: 1rem;
  background-color: yellow;
}

.item-review {
  display: flex;
  flex-direction: row;
  gap:5px;
}

.item-options {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

