/* buttons reset global */


a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}



button {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
}


/* first section buttons  */

.btn-01 {
  background-color:#ef3356;
  color: #fff;
  border-radius :20px;
  border: 1px solid #ef3356;
  font-weight: 400;
  transition: transform 0.5s ease;
  padding: 10px;
}
 
.btn-01:hover {
  background-color: transparent;
  transform: scale(0.95);
}

.btn-02 {
  padding:10px;
  font-weight: 400;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #ef3356;
}

.btn-03 {
  padding: 10px;
  color: #1c1f24;
  font-weight: 400;
  font-family: passion;
  background-color: #c96a4a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(201, 106, 74, 0.6);
}

.btn-03:hover {
  box-shadow: none;
  transform: scale(0.98);
  
}

